@media (max-width:1800px) {
    .container{
        max-width: 94vw;
    }
    .container-small{
        max-width: 78vw;
    }
    section{
        margin-top: 180px;
    }
    /* intro */
    .intro{
        height: 1950px;
    }
    .intro__headline span{
        font-size: 220px;
    }
    .intro__headline span+span{
        margin-top: 3%;
    }
    .intro__content{
        margin-top: 20%;
    }
    .intro__text{
        font-size: 26px;
        max-width: 60%;
        margin-top: 8%;
    }
    .intro__content .intro__text:first-child{
        margin-bottom: 8%;
    }
    /* About */
    .about__title{
        margin-bottom: 80px;
    }
    .big-title{
        font-size: 140px;
    }
    .about__block{
        column-gap: 100px;
    }
    .about__block-title{
        font-size: 32px;
    }
    .about__block-text{
        font-size: 24px;
    }
    .about__block-img{
        height: 600px;
    }
    .about__block-content:nth-child(2){
        align-items: start;
    }
    .about__block+.about__block{
        margin-top: 140px;
    }
    .about__block+.about__block{
        margin-top: 80px;
    }
    /* completed */
    .completed__black-line{
        padding: 30px 0;
    }
    .completed__title{
        font-size: 120px;
    }
    .completed__title_right{
        margin-top: 10px;
    }
    .completed__title_left{
        transform: translateX(-80%);
    }
    .completed__title_right{
        transform: translateX(80%);
    }
    .completed__slider-card-img{
        max-height: 500px;
        max-width: 700px;
    }
    .completed__slider{
        margin-top: 80px;
    }
    .completed__slider-card-content{
        max-width: 360px;
    }
    .completed__slider-title{
        font-size: 32px;
        line-height: 1;
    }
    .completed__slider-text{
        font-size: 24px;
        line-height: 1.2;
    }
    .completed__slider-content{
        height: 600px;
    }
    /* steps */
    .steps__content{
        margin-top: 80px;
    }
    .steps__content .steps__line{
        display: none;
    }
    .steps__card{
        width: 420px;
    }
    .steps__card-title{
        font-size: 26px;
        margin: 25px 0 14px;
    }
    .steps__card-description{
        font-size: 18px;
        line-height: 1.1;
    }
    .steps__card-img svg{
        max-width: 300px;
    }
    /* Our Materials */
    .materials__content{
        top: -60px;
    }
    .materials__card-manufacturer{
        font-size: 16px;
    }
    .materials__card-name{
        font-size: 26px;
    }
    .materials__card-header{
        grid-template-columns:180px auto;
    }
    .materials__card-text{
        font-size: 18px;
        width: 90%;
    }
    .materials__card{
        height: 180px;
    }
    .materials__card--active{
        height: 280px;
    }
    /* Contacts */
    .contacts__text-title{
        font-size: 60px;
    }
    .contacts__text-description{
        font-size: 20px;
        max-width: 80%;
    }
    .contacts__text-number{
        font-size: 52px;
    }
    .contacts__form-description{
        font-size: 20px;
    }
    .contacts__content{
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0 48px;
    }
    .contacts__form-btn{
        font-size: 26px;
        margin-bottom: 25px;
    }
    .contacts__form-description{
        margin: 50px 0 36px;
    }
    .contacts__form{
        height: 600px;
    }
    .contacts__form-input{
        font-size: 22px;
    }
    /* footer */
    .footer{
        margin: 200px 0 40px;
    }
    .footer-title{
        font-size: 74px;
        margin: 46px 0 100px;
    }
    .footer-content-links{
        column-gap: 32px;
    }
    .footer-content-links a{
        font-size: 20px;
    }
    .footer-content{
        align-items: center;
    }
    .footer-content-socnet{
        column-gap: 32px;
    }
    .footer-content-socnet a{
        width: 32px;
        height: 32px;
    }
} 

@media (max-width:1400px) {
    section{
        margin-top: 130px;
    }
    /* intro */
    .intro{
        height: 1850px;
    }
    .intro__logo{
        max-width:160px ;
    }
    .intro__headline span{
        font-size: 160px;
        line-height: 1.2;
    }
    .intro__menu img{
        width: 32px;
    }
    .intro__headline span+span{
        margin-top: 0;
    } 
    .intro__menu-text{
        font-size: 20px;
    }
    .intro__content{
        margin-top: 34%;
    }
    .intro__text{
        font-size: 20px;
        line-height: 1.4;
        max-width: 60%;
        margin-top: 8%;
    }
    .intro__content .intro__text:first-child{
        margin-bottom: 8%;
    }
    /* About */
    .about__title{
        margin-bottom: 64px;
    }
    .big-title{
        font-size: 118px;
        line-height: 1;
    }
    .about__block{
        column-gap: 100px;
    }
    .about__block-title{
        font-size: 32px;
        margin-bottom: 28px;
    }
    .about__block-text{
        font-size: 22px;
    }
    .about__block-img{
        height: 600px;
    }
    .about__block-content:nth-child(2){
        align-items: start;
    }
    .about__block+.about__block{
        margin-top: 100px;
    }
    .about__block-title img{
        display: none;
    }
    /* completed */
    .completed__black-line{
        padding: 15px 0;
    }
    .completed__title{
        font-size: 100px;
    }
    .completed__title_right{
        margin-top: 4px;
    }
    .completed__slider-btn{
        width: 64px;
        height: 64px;
    }
    .completed__slider-title{
        font-size: 28px;
    }
    .completed__slider-text{
        font-size: 20px;
    }
    .completed__slider-card-content{
        max-width: 320px;
    }
    /* steps */
    .steps__subtitle{
        font-size: 26px;
        margin-bottom: 12px;
    }
    .steps__title{
        line-height: 1;
        font-size: 80px;
    }
    .steps__card-img{
        width: 260px;
        height: 260px;
    }
    .steps__card-img svg{
        max-width: 260px;
        max-height: 260px;
    }
    .steps__card-title{
        font-size: 24px;
    }
    .steps__card-description{
        font-size: 16px;
    }
    /* materials */
    .materials__content{
        top: -20px;
    }
    .materials__card{
        height: 150px;
    }
    .materials__card--active{
        height: 260px;
    }
    .materials__card-name{
        font-size: 22px;
    }
    .materials__card-manufacturer{
        font-size: 14px;
    }
    .materials__card-text{
        font-size: 16px;
        width: 86%;
        margin-top: 38px;
    }
    .materials__card-icon{
        height: 32px;
        width: 32px;
    }
    /* contacts */
    .contacts__text-title{
        font-size: 48px;
    }
    .contacts__text-description{
        font-size: 22px;
        line-height: 1.2;
        margin: 32px 0 32px;
    }
    .contacts__text-number{
        font-size: 44px;
    }
    .contacts__content{
        height: 660px;
    }
    .contacts__form-description{
        font-size: 18px;
        margin: 32px 0 32px;
    }
    .contacts__form{
        width: 700px;
        height: 560px;
    }
    .contacts__form-input,
    .contacts__form-btn{
        max-height: 70px;
        font-size: 20px;
    }
    .footer-title{
        font-size: 58px;
        margin: 44px 0 72px;
    }
    .footer-content-logo{
        width: 140px;
    }
    .footer-content-links a{
        font-size: 18px;
    }
    .footer-content-socnet a{
        width: 28px;
        height: 28px;
    }
} 

@media (max-width:1100px) {
    /* intro */
    .intro{
        height: 1520px;
    }
    .intro__logo{
        max-width: 140px;
    }
    .intro__menu img{
        width: 24px;
    }
    .intro__menu-text{
        font-size: 18px;
        line-height: 1;
        column-gap: 6px;
    }
    .intro__text{
        font-size:18px;
    }
    .intro__headline span{
        font-size: 120px;
    }
    .intro__about{
        font-size: 20px;
    }
    .about__title{
        font-size: 100px;
    }
    .about__block-img{
        max-width: 500px;
        max-height:500px;
    }
    /* about */
    .about__block{
        flex-direction: column;
        row-gap: 32px;
    }
    .about__block:nth-child(2){
        flex-direction: column-reverse;
    }
    .about__block-title img{
        display: block;
    }
    .about__block-title,
    .about__block-text{
        text-align: center;
        margin: 0 auto;
    }
    .about__block-title{
        margin-bottom: 16px;
        max-width: max-content;
    }
    .about__block-text{
        max-width: 800px;
    }
    /* completed */
    .completed__slider-btn{
        display: none;
    }
    .completed__slider-card{
        position: relative;
        opacity: 1;
        visibility: visible;
        
    }
    .completed__slider-content{
        flex-direction: column;
        row-gap: 64px;
    }
    .completed__slider-content{
        height: 100%;
    }
    .completed__slider-card{
        flex-direction: column;
    }
    .completed__slider-card-content{
        margin: 0 auto;
        max-width: 700px;
        height: 100%;
        top: -60px;
        position: relative;
        text-align: center;
        padding:36px 24px;
    }
    .completed__slider-text{
        margin-top: 24px;
    }
    /* steps */
    .steps__subtitle{
        font-size: 22px;
    }
    .steps__title{
        font-size: 64px;
    }
    .steps__content{
        flex-direction: column;
        row-gap: 84px;
    }
    .steps__card-title{
        font-size: 32px;
    }
    .steps__card-description{
        font-size: 24px;
        width: 700px;
        line-height: 1.3;
    }
    .steps__content .steps__line{
        display: block;
        height: 1px;
        width: 60%;
    }
    .completed__title_left,
    .completed__title_right{
        margin-right: 0;
        margin-left: 0;
    }
    /* contacts */
    .container_switch{
        max-width: 100vw;
    }
    .contacts__content{
        border-radius: 0;
        flex-direction: column;
        height: 1100px;
        row-gap: 64px;
    }
    .contacts__text{
        max-width: 80%;
        margin: 0 auto;
    }
    .contacts__form{
        width: 500px;
    }
    .footer-content-links{
    display: none;
}
} 

@media (max-width:800px) {
    section{
        margin-top: 160px;
    }
    /* intro */
    .intro__text{
        font-size: 16px;
        max-width: 323px;
        margin-top: 64px;
    }
    .intro__content .intro__text:first-child{
        margin-bottom: 64px;
    }
    .intro__content{
        margin-top: 450px;
    }
    .intro__headline span{
        font-size: 82px;
        line-height: 1;
    }
    .intro__about{
        font-size: 18px;
    }
    .intro__contacts-name{
        max-width: 80px;
    }
    /* about */
    .about__title{
        font-size: 50px;
        text-transform: none;
        margin-bottom: 50px;
    }
    .about__block-img{
        max-width: 390px;
        max-height: 390px;
    }
    .about__block-title,
    .about__block-text{
        font-size: 21px;
    }
    .about__block-title{
        margin-bottom: 16px;
    }
    .about__block-title img{
        max-width: 28px;
        max-height: 28px;
    }
    .about__block{
        row-gap: 22px;
    }
    /* completed */
    .completed__title{
        font-size: 64px;
        line-height: 1;
    }
    .completed__title_right{
        margin-top: 8px;
    }
    .completed__black-line{
        padding: 30px 0;
    }
    .completed__slider-card-img{
        max-width: 325px;
        max-height: 248px;
    }
    .completed__slider-title{
        font-size: 22px;
    }
    .completed__slider-text{
        font-size: 20px;
    }
    .completed__slider-card-content{
        padding: 20px 14px;
        max-width: 94%;
    }
    .completed__slider-text{
        margin-top: 12px;
    }
    /* steps */
    .steps__subtitle{
        font-size: 22px;
        line-height: 1;
    }
    .steps__title{
        font-size: 40px;
    }
    .steps__subtitle{
        margin-bottom: 10px;
    }
    .steps__card-img svg{
        max-width: 280px;
        max-height: 280px;
    }
    .steps__card-img{
        width: 280px;
        height: 280px;
    }
    .steps__card-title{
        font-size: 24px;
    }
    .steps__card-description{
        font-size:18px;
        line-height: 1.1;
        max-width: 345px;
    }
    .steps__card-title{
        margin: 16px 0 10px;
    }
    .steps__content .steps__line{
        width: 80%;
    }
    /* materials */
    .materials__title{
        font-size: 54px;
    }
    .materials__card-manufacturer{
        font-size: 12px;
    }
    .materials__card-name{
        font-size: 20px;
        text-align: start;
        max-width: calc(100% - 40px);
    }
    .materials__card-text{
        font-size: 14px;
        line-height: 1.4;
        text-transform: none;
    }
    .materials__card{
        height: 110px;
    }
    .materials__card-icon{
        height: 18px;
        width: 18px;
    }
    .materials__card-icon::before{
        height: 1.5px;
    }
    .materials__card-icon::after{
        width:1.5px;
    }
    .materials__card--active{
        height: 244px;
    }
    .materials__content{
        top: -6px;
    }
    /* contacts */
    .contacts__text-title{
        font-size: 46px;
    }
    .contacts__text-description{
        display: none;
    }
    .contacts__text-number{
        font-size: 28px;
        text-align: center;
        margin-top: 40px;
    }
    .contacts__content{
        height: 837px;
    }
    .contacts__form{
        width: 92vw;
    }
    .contacts__content{
        row-gap: 60px;
    }
    .contacts__form-logo{
        max-width: 135px;
    }
    .contacts__form-description{
        max-width: 90%;
    }
    .contacts__form-policy{
        font-size: 18px;
    }
    .contacts__form{
        height: 500px;
    }
    /* footer */
    .footer-title{
        font-size: 50px;
        line-height: 1;
    }
    .footer-title{
        margin: 40px 0 64px;
    }
    .footer-content-socnet{
        column-gap: 18px;
    }
    .footer-content-socnet a{
        width: 24px;
        height: 24px;
    }
} 

@media (max-width:500px) {
    .container-small{
        max-width: 92vw;
    }
    section{
        margin-top: 140px;
    }
    /* intro */
    .intro__headline span{
        font-size: 70px;
        line-height: 1.2;
    }
    .intro__about{
        font-size: 16px;
    }
    /* about */
    .about__block-title,
    .about__block-text{
        font-size: 20px;
    }
    .about__block-title{
        column-gap: 8px;
    }
    /* completed */
    .completed__title{
        font-size: 50px;
    }
    .completed__slider-title{
        font-size: 20px;
    }
    .completed__slider-text{
        font-size: 18px;
    }
    .completed__slider{
        margin-top: 50px;
    }

    /* steps */
    .steps__subtitle{
        font-size: 18px;
    }
    .steps__title{
        font-size:32px;
    }
    .steps__content{
        row-gap: 40px;
        margin-top: 50px;
    }
    .steps__content .steps__line{
        width: 70%;
    }
    /* materials */
    .materials__title{
        font-size: 44px;
    }
    .materials__card-manufacturer{
        font-size: 10px;
    }
    .materials__card-name{
        font-size: 18px;
        text-align: start;
        max-width: calc(100% - 40px);
    }
    .materials__card-text{
        font-size: 12px;
        line-height: 1.4;
        text-transform: none;
    }
    .materials__card-header{
        grid-template-columns:100px auto;
    }
    .materials__card{
        height: 110px;
    }
    .materials__card-icon{
        height: 18px;
        width: 18px;
    }
    .materials__card-icon::before{
        height: 1.5px;
    }
    .materials__card-icon::after{
        width:1.5px;
    }
    .materials__card--active{
        height: 244px;
    }
    .materials__content{
        top: -6px;
    }
    /* contacts */
    .contacts__text{
        max-width: 100%;
    }
    .contacts__text-title{
        font-size: 44px;
        max-width: 90%;
        margin: 0 auto;
    }
    .contacts__text-number{
        font-size: 28px;
    }
    .contacts__form-description{
        font-size: 16px;
    }
    /* footer */
    .footer-title{
        font-size: 50px;
        line-height: 1;
    }
    .footer-title{
        margin: 40px 0 64px;
    }
    .footer-content-socnet{
        column-gap: 18px;
    }
    .footer-content-socnet a{
        width: 24px;
        height: 24px;
    }
} 