@import 'reset.css';
 
*{
    color: #000000;
    font-family: 'Montserrat', sans-serif;

    outline: none;
    scroll-behavior: smooth;
}
body{
    background-color: #ECECEC;
}
/*блоки страниц*/
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-card{
    background-image: url('img/bg.jpg');
}
.section-pasport{
    background-image: url('img/bg_paport.jpg');
    background-position: center center;
    background-size: cover;
}

/*главная страница*/
.start{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: 1s;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s, visibility 1s;
}
.start.show{
    visibility: hidden;
    opacity: 0;
}
.start-text{
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    line-height:120px;
    user-select: none;
}

.container-main{
    display: flex;
    flex-direction: column;
}
.container-main a{
    font-size: 24px;
    margin: 4px 0;
    padding: 12px;
   
    transition: .6s;
}

.container-main a:hover{

    background-color: #dadada;
    border-radius: 14px;

}

/*отправка карты*/

.section-card form{
    background-color: rgba(255, 255, 255, 0.8);
}

form, text{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 30px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.number{
    border: #414141 solid 1px;
    width: 100%;
    height: 40px;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 4px;
}
.back_card input{
    border: #414141 solid 1px;
    padding: 4px;
    width: 150px;
    height: 40px;
    font-size: 24px;
    margin: 0 2px;
}
.btn{
    margin-top:24px;
    font-size: 18px;
    background-color: gold;
    border-radius: 8px;
    padding: 12px 48px;
    transition: .4s;
    font-weight: 900;
}
.btn:hover{
    color: #fff;
    background-color: rgb(255, 174, 0);
}

/* написать в лс */
.section-card.contact-user{
    background-image: url('/img/bg_contact.jpg');
    
}
.contact_user input,.contact_user textarea{
    border: #414141 solid 1px;
    padding: 4px;
    width:100%;
    height: 40px;
    font-size:18px;
    
}
.contact_user .theme{
    width: 100%;
}
.contact_user textarea{
    resize: none;
    height: 210px;
    width: 300px;
}
.user-data {
    display: flex;
    gap: 6px;
}
.user-data input{
    
    width: 150px;
}
.contact_user label{
    margin-bottom: 10px;
}
/* Спасибо! */

.thx{
    height: 100vh;
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-color: white;
    position: relative;
}
.close-btn{
    position: absolute;
    font-size: 32px;
    left: 3%;
    top:3%;
}

.thx img{
    height: 50%;
    animation: bounce  3s infinite ease-in-out;
}

@media (max-width: 900px) {
    .start-text{
        font-size: 36px;
        line-height:50px; 
    }
    .close-btn{

        font-size: 22px;

    }
    .thx img{
        height: 30%;
    }
}

@keyframes bounce {
    from {
      scale: .8;
      transform: rotate(2deg);
    }
    25%{
        transform: rotate(30deg);
    }
    50% {
      scale: 1;
    }
    75%{
        transform: rotate(-30deg);
    }
    to {
      scale: .8;
      transform: rotate(2deg);
    }
  }